body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    text-align: center;
    padding: 40px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0;
}

header .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .buttons a {
   background-color: #ffffff;
    color: #4a90e2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

header .buttons a:hover {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
}

main {
    padding: 40px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #4a90e2;
    font-size: 2em;
    margin-bottom: 20px;
}

.message {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo-gallery img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1em;
    }

    .message {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header p {
        font-size: 0.9em;
    }

    header .buttons a {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .message {
        font-size: 0.8em;
        padding: 15px;
    }

    h2 {
        font-size: 1.2em;
    }
}

.Use me {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.Use me a{
   background-color: #ffffff;
    color: #4a90e2;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}



.Use me a:hover {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: white;
}
